<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classses</title>

</head>

<body>
    <table border="1">
        <th>Class Name</th><th>Change Class</th><th>Move to Alumni</th>
        {% for class_info in current_classes %}
        <tr>
            <td>Grade : {{class_info.class_name}}</td>
            <td>
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="class_id" value={{class_info.id}}>
                    <input type="text" minlength="1" name="update_class_name">
                    <input type="submit" value="Change Class">
                </form>
            </td>
            <td>
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="alumni" value={{class_info.id}}>
                    <input type="submit" value="Move to Alumni">
                </form>
            </td>
        </tr>
        </div>
        {% endfor %}
    </table>
    <br>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="new_class_name">
        <input type="submit" value="Add Class">
    </form>
    </div>
</body>

</html>