<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts </title>
    <link rel="icon" type="image/jpg" href="/static/7777.jpg">
    <link rel="stylesheet" href="/static/P_Contact.css">
</head>
<body>
    <div class="content">
        <div class="home_icon">   
            <a href="/">
                <img src="/static/home (1).png" height="18px" width="18px">
            </a></div>  
    <br><br><br>
    

    <div class="Header">
        <img src="/static/7777.jpg" height="65px" width="67px" alt="sites logo" style="float: center;">
        <marquee>Contact us.....</marquee>
        <hr>
        <br>
    <div class="topic">
            <img src="/static/phone.png" height="35px" width="35px" alt="sites logo" style="float:left;">
        <h2>Call Us</h2>
    </div>
        <h6>Main Office :037 56 45 987</h6>
        
       <h6><b>Vice Principal's Office : </b> 037 56 45 987</h6>
       <h6><b>Library : </b> 037 56 45 987</h6>
       <h6><b>Community : </b> 037 56 45 987</h6>
    
       <br><br><br>
    <div class="topic">
       <img src="/static/mail.png" height="32px" width="32px" alt="sites logo" style="float:left;">
       <h2>Mail Us</h2>
    </div>
       <h6>E-mail : Palugahawanguwacollage@gmail.com</h6>
       <br><br><br><br>

    <div class="topic">
        <img src="/static/location.png" height="30px" width="30px" alt="sites logo" style="float:left;">
        <h2>Find Us </h2>
    </div>
        <a href="https://maps.app.goo.gl/ydGBLs29PbN9kipF6"><img src="/static/map.png" width="100" height="100">
        </a>
   

    </div>

    <br><br><br><br>
    </div>
    

</div>
    
<footer>


    <div>
      <a class="a1" href="https://www.youtube.com/"><img src="/static/youtube.png" width="30px" alt="YouTube "></a>
      <a class="a1" href="#"><img src="/static/facebook.png" width="30px" alt="Facebook "></a>
      <a class="a1" href="mailto:wlghost2022@gmail.com"><img src="/static/gmail.png" width="30px" alt="Gmail "></a>
      <a class="a1" href="tel:+123456789"><img src="/static/phone.png" width="30px" alt="Telephone "></a>
      

      
    </div>
    <a href="#" class="support">Support</a><br>
    <hr>
    

    
    <div>
        
        
        &copy; 2023 - P.M.V. All rights reserved.<br><b>Website crafted by 2022 ICT boys</b>
    
    </div>
  </footer>  



</body>
</html>