<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="icon" type="image/jpg" href="/static/7777.jpg">
    <link rel="stylesheet" href="/static/P_Gallery.css">
</head>
<body>
    <div class="bgimage"><br>
     <div class="home_icon">   
    <a href="/">
        <img src="/static/home (1).png" height="18px" width="18px">
    </a></div>
    <div class="content">
        <p>GALLERY</p><br>
  
</div>        
    </div>  
    <div class="content">
      <div class="main_title">
       <h2> House Meet 2023</h2>
      </div>
      <br><br><br><br><br><br><br><br><br><br><br><br>
      <div class="main_title">
        <h2>English Concert 2023</h2>
      </div>
      <br><br><br><br><br><br><br><br><br><br><br><br>
      <div class="main_title">
        <h2>Awurudu Festival Celebration 2022</h2>
      </div>
            <div class="photoes">
            <img src="/static/A.jpg" height="140" width="250">
            <img src="/static/A2.jpg" height="140" width="250">
            <img src="/static/A3.jpg" height="140" width="250">
            <img src="/static/A4.jpg" height="140" width="250">
            <img src="/static/A5.jpg" height="140" width="250">
            </div>
            
      <br><br><br><br><br><br><br><br><br><br><br><br>
      <div class="main_title">
        <h2>65 th Parrod 2022</h2>
      </div>
        <div class="photoes">
            <img src="/static/Parrod.jpg" height="330" width="200" >
        </div>
      <br><br><br><br><br><br><br><br><br><br><br><br>
      <div class="main_title">
        <h2>Miyasi Ranga 2019</h2>
      </div>
      <br><br><br><br><br><br><br><br><br><br><br><br>




    
    </div>
  </div>
  
  <footer>
  
  
      <div>
        <a class="a1" href="https://www.youtube.com/"><img src="/static/youtube.png" width="30px" alt="YouTube "></a>
        <a class="a1" href="#"><img src="/static/facebook.png" width="30px" alt="Facebook "></a>
        <a class="a1" href="mailto:wlghost2022@gmail.com"><img src="/static/gmail.png" width="30px" alt="Gmail "></a>
        <a class="a1" href="tel:+123456789"><img src="/static/phone.png" width="30px" alt="Telephone "></a>
        
  
        
      </div>
      <a href="#" class="support">Support</a><br>
      <hr>
      
  
      
      <div>
          
          
          &copy; 2023 - P.M.V. All rights reserved.<br><b>Website crafted by 2022 ICT boys</b>
      
      </div>
    </footer>  

</body>
</html>