
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
    <link rel="icon" type="image/jpg" href="/static/7777.jpg">
    <link rel="stylesheet" href="/static/P_Resources.css">

    
</head>
<body>
    <div class="bgimage"><br>
        <div class="home_icon">   
       <a href="/">
           <img src="/static/home (1).png" height="14px" width="14px">
       </a></div>
       <div class="content">
           <p class="bgtitle">RESOURCES</p><br>
     
   </div>        
       </div>

    <br>
    <div class="content">

        <br>
        <div class="h1">
        <h1>Office</h1></div>
        <div class="photos">
            <img src="/static/office.jpg" height="170" width="250" alt="tec"> 
            <img src="/static/office2.jpg" height="170" width="250" alt="tec">
        <br>
        </div>
        <br><hr> 
        <p>
            The great mission of our school is to create opportunities for all our students to achieve the competencies
        necessary to take part actively in national development process by securing the healthy status and
        developing the quality of life to the optimum according to their strengths,identifying their in-born 
        potentials and differences accepting their abilities and righ to education. </p>    
        <br><br><br><br><br>

        <div class="h1">
            <h1>Library</h1></div>
            <div class="photos">
                <img src="/static/library1.jpg" height="170" width="250" alt="lib"> 
                <img src="/static/library2.jpg" height="170" width="250" alt="lib">
            <br>
            </div>
            <br><hr>
         <p>
            The great mission of our school is to create opportunities for all our students to achieve the competencies
        necessary to take part actively in national development process by securing the healthy status and
        developing the quality of life to the optimum according to their strengths,identifying their in-born 
        potentials and differences accepting their abilities and righ to education. </p>    
        <br><br><br><br><br>

        <div class="h1">
        <h1>It Lab</h1></div>
        <div class="photos">
            <img src="/static/it.jpg" height="170" width="250" alt="it"> 
            
        <br>
        </div>
        <br><hr> 
        <p>
            The great mission of our school is to create opportunities for all our students to achieve the competencies
        necessary to take part actively in national development process by securing the healthy status and
        developing the quality of life to the optimum according to their strengths,identifying their in-born 
        potentials and differences accepting their abilities and righ to education. </p>    
        <br><br>
        
        <br><br><br><br><br>
        <div class="h1">
        <h1>Technical Lab</h1></div>
        <div class="photos">
            <img src="/static/Tech_lab.jpg" height="170" width="250" alt="tec"> 
            
        <br>
        </div> 
        <br><hr>
        <p>
            The great mission of our school is to create opportunities for all our students to achieve the competencies
        necessary to take part actively in national development process by securing the healthy status and
        developing the quality of life to the optimum according to their strengths,identifying their in-born 
        potentials and differences accepting their abilities and righ to education. </p>    
    

        <br><br><br><br><br>
        <div class="h1">
        <h1>Ground</h1></div>
        <div class="photos">
            <img src="/static/ground.jpg" height="170" width="250" alt="tec"> 
            
        <br>
        </div> 
        <br><hr>
        <p>
            The great mission of our school is to create opportunities for all our students to achieve the competencies
        necessary to take part actively in national development process by securing the healthy status and
        developing the quality of life to the optimum according to their strengths,identifying their in-born 
        potentials and differences accepting their abilities and righ to education. </p>    
    

        <br><br><br><br><br>
        <div class="h1">
        <h1>Sick Room</h1></div>
        <div class="photos">
            <img src="/static/sickroom.jpg" height="170" width="250" alt="tec"> 
            
        <br>
        </div> 
        <br><hr>
        <p>
            The great mission of our school is to create opportunities for all our students to achieve the competencies
        necessary to take part actively in national development process by securing the healthy status and
        developing the quality of life to the optimum according to their strengths,identifying their in-born 
        potentials and differences accepting their abilities and righ to education. </p>    
    

        <br><br><br><br><br>
        <div class="h1">
        <h1>Language Room</h1></div>
        <div class="photos">
            <img src="/static/languageroom.jpg" height="170" width="250" alt="tec"> 
            <img src="/static/languageroom2 (1).jpg" height="170" width="250" alt="tec">
        <br>
        </div>
        <br><hr> 
        <p>
            The great mission of our school is to create opportunities for all our students to achieve the competencies
        necessary to take part actively in national development process by securing the healthy status and
        developing the quality of life to the optimum according to their strengths,identifying their in-born 
        potentials and differences accepting their abilities and righ to education. </p>    
    

        <br><br><br><br><br>
        <div class="h1">
        <h1>Home Science Lab</h1></div>
        <div class="photos">
            <img src="/static/hs.jpg" height="170" width="250" alt="tec"> 
            
        <br>
        </div>
        <br><hr> 
        <p>
            The great mission of our school is to create opportunities for all our students to achieve the competencies
        necessary to take part actively in national development process by securing the healthy status and
        developing the quality of life to the optimum according to their strengths,identifying their in-born 
        potentials and differences accepting their abilities and righ to education. </p>    
        <br><br><br><br><br>
    
    
    </div>
    
        <footer>
        
        
            <div>
              <a class="a1" href="https://www.youtube.com/"><img src="/static/youtube.png" width="30px" alt="YouTube "></a>
              <a class="a1" href="#"><img src="/static/facebook.png" width="30px" alt="Facebook "></a>
              <a class="a1" href="mailto:wlghost2022@gmail.com"><img src="/static/gmail.png" width="30px" alt="Gmail "></a>
              <a class="a1" href="tel:+123456789"><img src="/static/phone.png" width="30px" alt="Telephone "></a>
              
        
              
            </div>
            <a href="#" class="support">Support</a><br>
            <hr>
            
        
            
            <div>
                
                
                &copy; 2023 - P.M.V. All rights reserved.<br><b>Website crafted by 2022 ICT boys</b>
            
            </div>
          </footer>  
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
           
    
    
    
</body>
</html>