
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School</title>
    <link rel="icon" type="image/jpg" href="/static/7777.jpg">
    <link rel="stylesheet" href="/static/P_School.css">
</head>
<body><div class="bgimage">
  <div class="home_icon">
    <a href="/">
        <img src="/static/home (1).png" width="18px" height="18px" float:rigth;>
    </a></div>
  <br><P>OUR SCHOOL</P><br>
    
    </div>
    </div>
</div>
   <br>
    <div class="content">
   <div class="details"><br><hr class="HR"><br>
    <div class="inside">
    <br>
      <div class="textarea">
      <h5 class="sub_tittle"><b>Name of the school:</b></h5>
        <h6>T/TN Padavi Palugahawanguwa Maha Vidyalaya<br></h6>
      <h5 class="sub_tittle"><b>Adress            : </b></h5>
      <h6> Padaviya,Trincomalee                     <br></h6>
      <h5 class="sub_tittle"><b>Province          : </b></h5>
       <h6>North Central Province                   <br></h6>
      <h5 class="sub_tittle"><b>District          : </b></h5>
      <h6>Trincomalee                               <br></h6>
      <h5 class="sub_tittle"><b>Zone              : </b></h5>
      <h6>                                         <br> </h6>             
      <h5 class="sub_tittle"><b>School Number     : </b></h5>
      <h6>1358                                          <br></h6>
      <h5 class="sub_tittle"><b>Telephone         : </b></h5>
      <h6>037 54 25 876                              <br></h6> 
      <h5 class="sub_tittle"><b>E-mail            : </b></h5>
      <h6>Palugahawanguwamv@gmail.com                <br></h6>
      <h5 class="sub_tittle"><b>Fax               : </b></h5>
      <h6>                                           <br></h6>
        </div>                                                                    
                                                </div>
                                                                           
      <hr class="HR">
      <br>
      </P>
 
   </div>
   <br><br><br><br>
   <div class="Topics">
   <h2>Crest Of Our School</h2></div>
   
    <img class="images" src="/static/7777.jpg" height="130px" width="140px" alt="crest" style="float: left;">
   <br><br><br><br><br><br><br><br><br><br><br>
    
    
    <div class="Topics">
    <h2>Flag Of Our School</h2></div>
   
    <img class="images" src="/static/2.jpg" height="110px" width="190px" alt="flag" style="float: left;">
 
   <br><br><br><br><br><br><br><br><br><br>
 
 <div class="Topics">
 <h2>School Anthem Of Our School</h2>
 </div>
 <br><br><br><br><br><br><br><br><br><br><br>

</div>
    
<footer>


    <div>
      <a class="a1" href="https://www.youtube.com/"><img src="/static/youtube.png" width="30px" alt="YouTube "></a>
      <a class="a1" href="#"><img src="/static/facebook.png" width="30px" alt="Facebook "></a>
      <a class="a1" href="mailto:wlghost2022@gmail.com"><img src="/static/gmail.png" width="30px" alt="Gmail "></a>
      <a class="a1" href="tel:+123456789"><img src="/static/phone.png" width="30px" alt="Telephone "></a>
      

      
    </div>
    <a href="#" class="support">Support</a><br>
    <hr>
    

    
    <div>
        
        
        &copy; 2023 - P.M.V. All rights reserved.<br><b>Website crafted by 2022 ICT boys</b>
    
    </div>
  </footer>  







</body>
</html>