<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>subjects</title>

</head>

<body>
    <table border="1">
        <th>Subject Name</th><th>Change Name</th>
        {% for subject_info in current_subjects %}
        <tr>
            <td>{{subject_info.subject}}</td>
            <td>
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="subject_id" value={{subject_info.id}}>
                    <input type="text" minlength="1" name="update_subject_name">
                    <input type="submit" value="Change subject">
                </form>
            </td>
        </tr>
        </div>
        {% endfor %}
    </table>
    <br>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="new_subject_name">
        Hidden 
        <input type="checkbox" name="visibility">
        <input type="submit" value="Add subject">
    </form>
    </div>
</body>

</html>