body{
  margin: 0px;
  padding: 0px;
}

.image-container {
  position: relative;
}

.image-container img {
  display: block;
  width: 28px;
  height: 28px;
  margin-left: 95%;
  margin-top: 50px;
  
}

.overlay {
  position: absolute;
  top: 20px;
  left: 90%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(42, 35, 35, 0.404);
  color: #000000;
  padding: 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  
}

.overlay i {
  margin-right: 5px;
}

.image-container:hover .overlay {
  opacity: 1;
}




.content{
  padding-left: 110px;
  padding-right: 110px;
}

.h1{
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family:chiller;
  
 }
 div h1{
  background-color: #410303;
  border-radius: 20px;
  


 }

 .photos{
  padding-left: 19%;
 }
 p{
  font-family: cursive;
  font-size: 1.0em;
 }
 hr{
  border-top: 2px solid #580505;
}
.bgtitle{
  font-family: Chiller;
  font-weight: 900;
  font-size: 3.8em;
  color: rgb(1, 0, 0);
  letter-spacing: 32px;
  text-align: center;
 
}
.bgimage{
  background-image: url(pattern2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 50%;
}


footer {
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  font-size: 16px;
  margin-bottom: 0px;

}



.a1 {
  display: inline-block;
  margin: 0 10px;
}

.a1:hover img {
  filter: invert(30%);
}

hr {
  width: 100%;
  margin: 0;
  border: none;
  border-top: 2px solid #ccc;
}



.support {
  background-color: #fff;
  color: #e60000;
  padding: 5px 10px;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}
