html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
}


footer{
    margin-top: auto;
    margin-bottom: 0px;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    padding: 0px;
}  
hr {
    border: none;
    border-top: 1px solid #000;
    height: 0;
    margin: 10px 0;
  }
  
  hr:before {
    content: "";
    display: block;
    border-top: 2px solid #000;
    margin-top: -2px;
  }

  header{
    padding: 20px;
    background-color: rgb(255, 0, 0);
    height: 17px;
    justify-content:space-between;
    width: 100%;
  }
  
  div._headertop ul {
    list-style: none;
      display: flex;
      margin: 0;
      padding: 0 20px;
      float:left;}
  
  div._headertop ul li{ 
    display: block;
    color: rgb(255, 255, 255);
    padding: 0 23px;
    line-height: 22px;
    font-family: helvetica;}
  
  div._headertop ol {
     list-style: none;
      display: flex;
      margin: 0;
      padding: 0 20px;
      float:right;}
  
  div._headertop ol li{
     display: block;
    color: rgb(255, 255, 255);
    padding: 0 23px;
    line-height: 22px;
    font-family: helvetica;
   }

   .content {
    position: relative;
    z-index: 1;
    background-image: linear-gradient(to bottom, #f00, #00f);
    background-blend-mode: darken;
    padding: 150px;
    margin: 150px;
    justify-content: center;
    border: 2px solid white;
    border-radius: 20px;
    backdrop-filter: blur(12px);
   }

h2{
    text-align: center;
    margin-top: 0px;
    margin: 0;
    background-color: #cac9d3;
    
}

.input-field {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    width: 700px;
    box-sizing: border-box;
  }

  p{
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: fit-content;
    background-color: #9c9eb3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    
    
  }

  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .radio-group {
    display: flex;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
     }
  .radio-button {
    margin-right: 20px;
    cursor: pointer;
    font-size: 16px;
  }


  .radio-button input[type="radio"]:checked:before {
    background-color: #000000;
    border-color: #ccc;
  }
  
  textarea {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #000000;
    resize: vertical;
  }
  
  select {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%238c8c8c' d='M17.3 8.3c-.4-.4-1-.4-1.4 0L12 12.6 7.1 8.3c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l5 5c.2.2.5.3.7.3s.5-.1.7-.3l5-5c.4-.4.4-1 0-1.4z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
  }
  select:hover,
  select:focus {
    border-color: #666;
  }

  summary {
    cursor: pointer;
    font-weight: bold;
    background-color: #ccc;
    padding: 10x;
    border: 2px solid white;
    width: fit-content;
  }
  