<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Add Form</title>
    <style>
        form {
            padding-left: 25%;
            padding-right: 25%;
            display: flex;
            flex-direction: column;
        }

        .guardian {
            display: flex;
            flex-direction: column;
        }

        .guardian_nic {
            display: flex;
            flex-direction: column;
        }
    </style>
</head>

<body>
    <form action="" method="post">
        {% csrf_token %}
        <label for="student_index_number">Index Number : </label>
        <input type="text" class="textinputs" name="student_index_number">

        <label for="student_full_name">Full Name : </label>
        <input type="text" class="textinputs" name="student_full_name">

        <label for="student_name_with_initials">Name With Initials : </label>
        <input type="text" class="textinputs" name="student_name_with_initials">

        <label for="student_date_of_birth">Date of Birth : </label>
        <input type="date" class="dateinputs" name="student_date_of_birth">

        <label for="student_gender">Gender : </label>
        <div>
            <input type="radio" class="radioinputs" name="student_gender" value="M"> Male
            <input type="radio" class="radioinputs" name="student_gender" value="F"> Female
        </div>

        <label for="enrolled_date">Enrolled Date : </label>
        <input type="date" class="textinputs" name="enrolled_date">

        <label for="student_address">Address : </label>
        <textarea name="student_address" cols="30" rows="10"></textarea>

        <label for="class_info">Class : </label>
        <select name="class_info">
            {% for class_info in current_classes %}
            <option value={{class_info.id}}>Grade {{class_info.class_name}}</option>
            {% endfor %}
        </select>

        <label for="student_special_notes">Special Notes : </label>
        <textarea name="student_special_notes" cols="30" rows="10"></textarea>

        <label for="mother_name">Mother Name :</label>
        <input type="text" name="mother_name">

        <label for="mother_status">Mother Status : </label>
        <select name="mother_status">
            <option value="A">Alive</option>
            <option value="D">Passed</option>
        </select>

        <label for="mother_nic">Mother NIC : </label>
        <input type="text" name="mother_nic">

        <label for="mother_special_notes">Mother Special Notes</label>
        <textarea name="mother_special_notes" cols="30" rows="10"></textarea>

        <label for="father_name">Father Name :</label>
        <input type="text" name="father_name">

        <label for="father_status">Father Status : </label>
        <select name="father_status">
            <option value="A">Alive</option>
            <option value="D">Passed</option>
        </select>

        <label for="father_nic">Father NIC : </label>
        <input type="text" name="father_nic">

        <label for="father_special_notes">Father Special Notes</label>
        <textarea name="father_special_notes" cols="30" rows="10"></textarea>

        <input type="submit" value="Add Student">
    </form>
</body>

</html>