<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Students</title>
</head>

<body>
    <table border="1" style="border-collapse: collapse">
        <th>Index Number</th>
        <th>Student Full Name</th>
        <th>Class</th>
            <tr>
                <td>
                    <input type="text" id="index_number">
                </td>
                <td>
                    <input type="text" id="student_name">
                </td>
                <td>
                    <select id="grade" onchange="changeGrade()">
                        <option value="all">All</option>
                        {% for class_info in current_classes %}
                        <option value={{class_info.id}}>Grade {{class_info.class_name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tbody>
            {% for student in students %}
            <tr>
                <td>
                    {{ student.index_number }}
                </td>
                <td>
                    {{ student.student_name }}
                </td>
                <td>
                    {{ student.class }}
                </td>
            </tr>
        </div>
        {% endfor %}
    </tbody>
    </table>
</body>
<script>
    function replaceQueryParam(param, newval, search) {
        var regex = new RegExp("([?;&])" + param + "[^&;]*[;&]?");
        var query = search.replace(regex, "$1").replace(/&$/, '');

        return (query.length > 2 ? query + "&" : "?") + (newval ? param + "=" + newval : '');
    }
    table = document.getElementsByTagName('table')[0];
    var tableBody = document.getElementsByTagName('TBODY')[1];
    table.appendChild(tableBody)

    function myFunction(value, index, array) {
        TR = document.createElement('tr')
        data = document.createElement('td')
        data.innerHTML = value["index_number"]
        TR.appendChild(data)
        data = document.createElement('td')
        data.innerHTML = value["student_name"]
        TR.appendChild(data)
        data = document.createElement('td')
        data.innerHTML = value["class"]
        TR.appendChild(data)
        tableBody.appendChild(TR)
    }


    name_input = document.getElementById('student_name')
    index_input = document.getElementById('index_number')
    class_input = document.getElementById('grade')

    name_input.onkeyup = () => {
        newUrl = replaceQueryParam('name', name_input.value, window.location.search)
        history.pushState({}, null, newUrl);
        fetch(newUrl + '&data=1').then(function (response) {
            return response.json();
        }).then(function (data) {
            tableBody.innerHTML = '';
            data.forEach(myFunction);
        })
    }

    index_input.onkeyup = () => {
        newUrl = replaceQueryParam('index_number', index_input.value, window.location.search)
        history.pushState({}, null, newUrl);
        fetch(newUrl + '&data=1').then(function (response) {
            return response.json();
        }).then(function (data) {
            tableBody.innerHTML = '';
            data.forEach(myFunction);
        })
    }

    class_input.onchange = () => {
        newUrl = replaceQueryParam('class', class_input.value, window.location.search)
        history.pushState({}, null, newUrl);
        fetch(newUrl + '&data=1').then(function (response) {
            return response.json();
        }).then(function (data) {
            tableBody.innerHTML = '';
            data.forEach(myFunction);
        })
    }

</script>

</html>